body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    background-color: #E4F9F5;
}

span {
    text-decoration: underline;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    
}

.bottom-container {
    background-color: #66BFBF;
    text-align: center;
    margin-top: 20px;
    padding: 5vw;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.skill-row {
    width: 50vw;
    margin: 0 auto 10% auto;
    text-align: left;
    line-height: 2;
}

.chess-img {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.sketch-img {
    width: 15%;
    float: right;
    margin-left: 30px;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    background-color: #66BFBF;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.footer-link {
    font-size: 1.125rem;
    text-align: center;
    margin: 2rem;
    color: #11999e;
}

.profile {
    margin-top: 5rem;
}